html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: rgb(38, 2, 219);
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: radial-gradient(circle, #3f5efb, #fc466b);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    z-index: 2;
    pointer-events: none;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: rgb(38, 2, 219);
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    pointer-events: auto;
}

.deck .card.open {
    transform: rotateY(180deg);
    transition: 0.3s;
    background: radial-gradient(circle, #6a65d7, #c4c7d4, #0071de);
    cursor: default;
    pointer-events: none;
}

.deck .card.close {
    transform: rotateY(360deg);
    transition: 0.2s;
    transform-style: preserve-3d;
    background: #2e3d49;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: radial-gradient(circle, #d0ceff, #948cc8, #21daff);
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;

}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #3572a8;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel #timer {
    display: inline-block;
    text-align: center;
    color: white;
    margin-left: 40px;
    border-radius: 5px;
    width: 90px;
    height: 27px;
    background-color: #fb3fce;
}

.restart button {
    border-radius: 5px;
    cursor: pointer;
}

.winPage {
    z-index: 1000;
    top: 35%;
    left: 50%;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: radial-gradient(circle, #3f5efb, #fc466b);
    background: #fb3fce;
    padding: 32px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 370px;
    opacity: 1;
    transition: 1s;
    animation-name: animatetop;
    animation-duration: 0.25s;
    animation-timing-function: linear;
}

.winPage.closed {
    display: none;
    z-index: 1;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
